<html>
<head>
    <script src="/bower_components/jquery/dist/jquery.js"></script>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css"/>
    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>

    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Bukky Buks!</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/event/list">Events</a></li>
                <li><a href="/pictures">Browse Pictures</a></li>
                <li><a href="/changePassword">Change Password</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="margin-top: 30px;">

    <div class="starter-template" >
        <h1>Events</h1>
        <p class="lead">Edit and Monitor your Events from here</p>
        <div class="col-md-12">
            <a href="/event/create"><button type="button" class="btn btn-success">Create Event</button> </a>
            <a href="https://api.instagram.com/oauth/authorize/?client_id=0773c12c402f46b4b9547c5a3503e9c8&redirect_uri=http://medirec.com.ng:7000/instagram/oauth&response_type=code&scope=basic+public_content" target="_blank"><button type="button" class="btn btn-success">Instagram Sign In</button> </a>
            <table class="table table-striped">
                <thead>
                 <tr>
                     <th>
                         Event Name
                     </th>
                     <th>
                         Phone Number
                     </th>
                     <th>
                         Event Date
                     </th>
                     <th>
                         Actions
                     </th>

                 </tr>

                </thead>
                <tbody>
                <% for(var i=0;i< events.length;i++){%>

                <tr>
                 <td>
                     <%= events[i].eventName %>
                 </td> <td>
                     <%= events[i].eventPhone %>
                 </td><td>
                     <%= events[i].eventDate %>
                 </td>

                    <td>
                    <a href="/event/<%=events[i]._id%>/stream"><button type="button" class="btn btn-success btn-sm">Edit Hashtags</button></a>
                   <a href="/event/<%=events[i]._id%>/eventPictures"><button type="button" class="btn btn-sm btn-info">View Event Pictures</button></a>
                   <a href="/event/<%=events[i]._id%>/delete"><button type="button" class="btn btn-sm btn-danger">Delete Event</button></a>
                   <a href="/event/<%=events[i]._id%>/endEvent"><button type="button" class="btn btn-sm btn-warninig">Download Pics</button></a>
                   <a href="/eventNote/<%=events[i]._id%>"><button type="button" class="btn btn-sm btn-warninig">Show Notes</button></a>
                    </td>

                </tr>
                <%}%>


                </tbody>




            </table>


        </div>



    </div>
</div><!-- /.container -->



</body>






</html>