<html>
<head>
    <script src="/bower_components/jquery/dist/jquery.js"></script>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css"/>
    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>

    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Bukky Buks!</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/event/list">Events</a></li>
                <li><a href="/pictures">Browse Pictures</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="margin-top: 30px;">
    <div class="col-md-12" style="margin-top: 50px;">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    Note Date
                </th>
                <th>
                    Text
                </th>

                <th>
                    Actions
                </th>

            </tr>

            </thead>
            <tbody>
            <% for(var i=0;i< notes.length;i++){%>

            <tr>
                <td>
                    <%= notes[i].createdAt %>
                </td> <td>
                    <%= notes[i].noteText %>
                </td>
                <td>
                    <a href="/eventNote/<%=notes[i]._id%>/delete"><button type="button" class="btn btn-success btn-sm">Delete Note</button></a>
                </td>
            </tr>
            <%}%>
            </tbody>
        </table>
    </div>
    <div class="starter-template" >
        <h3>Create Note</h3>
        <form action="/eventNote/<%=eventId%>" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Note Text</label>
                <textarea name="noteText" >Enter note here...</textarea>
            </div>
            <button type="submit" class="btn btn-success">Create Note</button>
        </form>
    </div>
</div><!-- /.container -->



</body>






</html>