<html ng-app="bukkyApp">
<head>
    <script src="/bower_components/jquery/dist/jquery.js"></script>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css"/>
    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>

    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>


    <script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/angular.min.js"/>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <script src="/toastr.min.js">
    </script>
    <link rel="stylesheet" href="/toastr.min.css" />
    <script src="/spa.js"></script>
</head>
<body >

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Bukky Buks!</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/event/list">Events</a></li>
                <li><a href="/pictures">Browse Pictures</a></li>
                <li><a href="/changePassword">Change Password</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="margin-top: 30px;" ng-controller="EventPictureController">

    <div class="starter-template" >
        <h1>Event Pictures</h1>
        <p class="lead">View, Approve and Delete Pictures</p>
        <a href="/event/<%=eventId%>/launchPresentation" target="_blank"><button type="button" class="btn btn-success">Generate Slide Show!</button></a>
        <button class="btn btn-info" ng-click="massApprove()">Bulk Approve</button>
        <button class="btn btn-warning" ng-click="massUnApprove()">Bulk UnApprove</button>
        <button class="btn btn-warning" ng-click="massRejectPicture()">Bulk Reject</button>
        <a href="/event/<%=eventId%>/stream"><button class="btn btn-warning">Edit Hashtags</button></a>
        <a href="/event/<%=eventId%>/restartSearch"> <button class="btn btn-danger" >Restart Search</button></a>
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="col-md-2">
                    Filter By:
                </div>
                <div class="col-md-7">
                    <select class="form-control" ng-model="EventPic.filterValue" ng-change="filterResult(EventPic.filterValue)" >
                        <option value="ALL">All</option>
                        <option value="UNAPPROVED">Un-Approved</option>
                        <option value="APPROVED">Approved</option>
                    </select>
                </div>

            </div>
            <table class="table table-striped">
            <!--    <thead>
                <tr>
                    <th>
                        Select
                    </th>
                    <th>
                        Caption
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Source
                    </th>
                    <th>
                        username
                    </th>

                    <th>
                        Actions
                    </th>

                </tr>

                </thead>-->
                <tbody>
                <tr ng-repeat="picture in EventPic.pics | orderBy:'-createdAt'" ng-show="picture.status==EventPic.filterValue||EventPic.filterValue=='ALL'" class ="col-md-12">
                    <td class="col-md-1">
                        <input type="checkbox" ng-model="picture.selected" />
                    </td>
                    <td class="col-md-3">



                            <img src="{{picture.media}}" width="200px">


                    </td>
                    <td class="col-md-2">
                        {{picture.status}}
                </td><td class="col-md-1">
                        {{picture.mediaType}}
                </td><td class="col-md-2">
                        {{picture.username}}
                </td>
                    <td class="col-md-3">
                        <button  ng-show="picture.status=='UNAPPROVED'" type="button"  class="btn btn-sm btn-success" ng-click="EventPic.approvePic(picture._id,$index)">Approve Picture</button>

                         <button ng-show="picture.status=='APPROVED'" type="button" class="btn btn-sm btn-warning" ng-click="EventPic.unApprovePic(picture._id,$index)">Un-approve Picture</button></a>

                         <button type="button" class="btn btn-sm btn-danger" ng-click="EventPic.rejectPic(picture._id,$index)">Reject</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>



    </div>
</div><!-- /.container -->



</body>






</html>