
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <!-- SlidesJS Required (if responsive): Sets the page width to the device width. -->
    <meta name="viewport" content="width=device-width">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!-- End SlidesJS Required -->

    <!-- SlidesJS Required: Link to jquery.slides.js -->
    <script src="/bower_components/jquery.slides.min.js"></script>
    <!-- End SlidesJS Required -->

    <!-- CSS for slidesjs.com example -->
    <link rel="stylesheet" href="/bower_components/css/example.css">
    <link rel="stylesheet" href="/bower_components/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- End CSS for slidesjs.com example -->

    <!-- SlidesJS Optional: If you'd like to use this design -->
    <style>
        body {
            color: #232525;
        }

        #slides {
            display: none
        }

        #slides .slidesjs-navigation {
            margin-top:5px;
        }

        a.slidesjs-next,
        a.slidesjs-previous,
        a.slidesjs-play,
        a.slidesjs-stop {
            background-image: url(img/btns-next-prev.png);
            background-repeat: no-repeat;
            display:block;
            width:12px;
            height:18px;
            overflow: hidden;
            text-indent: -9999px;
            float: left;
            margin-right:5px;
        }

        a.slidesjs-next {
            margin-right:10px;
            background-position: -12px 0;
        }

        a:hover.slidesjs-next {
            background-position: -12px -18px;
        }

        a.slidesjs-previous {
            background-position: 0 0;
        }

        a:hover.slidesjs-previous {
            background-position: 0 -18px;
        }

        a.slidesjs-play {
            width:15px;
            background-position: -25px 0;
        }

        a:hover.slidesjs-play {
            background-position: -25px -18px;
        }

        a.slidesjs-stop {
            width:18px;
            background-position: -41px 0;
        }

        a:hover.slidesjs-stop {
            background-position: -41px -18px;
        }

        .slidesjs-pagination {
            margin: 7px 0 0;
            float: right;
            list-style: none;
        }

        .slidesjs-pagination li {
            float: left;
            margin: 0 1px;
        }

        .slidesjs-pagination li a {
            display: block;
            width: 13px;
            height: 0;
            padding-top: 13px;
            background-image: url(img/pagination.png);
            background-position: 0 0;
            float: left;
            overflow: hidden;
        }

        .slidesjs-pagination li a.active,
        .slidesjs-pagination li a:hover.active {
            background-position: 0 -13px
        }

        .slidesjs-pagination li a:hover {
            background-position: 0 -26px
        }

        #slides a:link,
        #slides a:visited {
            color: #333
        }

        #slides a:hover,
        #slides a:active {
            color: #9e2020
        }

        .navbar {
            overflow: hidden
        }
    </style>
    <!-- End SlidesJS Optional-->

    <!-- SlidesJS Required: These styles are required if you'd like a responsive slideshow -->
    <style>
        #slides {
            display: none
        }

        .container {
            margin: 0 auto
        }

        /* For tablets & smart phones */
        @media (max-width: 767px) {
            body {
                padding-left: 20px;
                padding-right: 20px;
            }
            .container {
                width: auto
            }
        }

        /* For smartphones */
        @media (max-width: 480px) {
            .container {
                width: auto
            }
        }

        /* For smaller displays like laptops */
        @media (min-width: 768px) and (max-width: 979px) {
            .container {
                width: 724px
            }
        }

        /* For larger displays */
        @media (min-width: 1200px) {
            .container {
                width: 1170px
            }
        }
    </style>
    <!-- SlidesJS Required: -->
</head>
<body>

<!-- SlidesJS Required: Start Slides -->
<!-- The container is used to define the width of the slideshow -->
<div class="container">
    <div class="col-md-12">
       <img src="/image/instagram-logo-sketch.png" width="50px">
       <img src="/image/twitter.png" width="50px" >
    </div>
    <div class="col-md-12">
        <div id="slides" style="border-width: 5px;">
            <%for(var i=0;i<pictures.length;i++){%>
            <%if(typeof pictures[i].media!='undefined'){%>
            <img src="<%= pictures[i].media  %>" width="95%"  >
            <%}else if(pictures[i].twitterMedia){%>
            <img src="<%= pictures[i].twitterMedia[0]  %>" width="95%">
            <%}%>
            <%}%>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6" style="font-style: italic">
            <h1 style="font-size: 60px;">#<%= hashTag%></h1>
        </div>
        <div class="col-md-6">
            <img src="/image/bukky-buks.jpg" width="200px" class="pull-right">
        </div>
    </div>
</div>
<!-- End SlidesJS Required: Start Slides -->

<!-- SlidesJS Required: Link to jQuery -->

<!-- End SlidesJS Required -->

<!-- SlidesJS Required: Initialize SlidesJS with a jQuery doc ready -->
<script>
    $(function() {
        $('#slides').slidesjs({
            width: 850,
            height: 850,

            play: {
                effect: "fade",
                active: true,
                auto: true,
                interval: 8000,
                swap: true
            },
            effect: {
                fade: {
                    speed: 300,
                    crossfade: true
                }
            }
        });
    });
</script>
<script>
    //timer reloads every three minutes
    var threeMins = 60000*7;
    setInterval(function(){
        location.reload(true);
    },threeMins)
</script>
<!-- End SlidesJS Required -->
</body>
</html>
