<html>
<head>
    <script src="/bower_components/jquery/dist/jquery.js"></script>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css"/>
    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>

    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Bukky Buks!</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/event/list">Events</a></li>
                <li><a href="/pictures">Browse Pictures</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="margin-top: 30px;">

    <div class="starter-template" >
        <h1>Event  Stream </h1>
        <p class="lead">set your hashtags here to search twitter/instagram </p>
        <form action="/event/<%=twitterStream.eventId%>/twitterStream" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Hashtag 1</label>
                <input type="text"  class="form-control" id="exampleInputEmail1" name="hashtagOne" value="<%=twitterStream.hashtagOne? twitterStream.hashtagOne:'' %>" >
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Hashtag 2</label>
                <input type="text"  class="form-control" id="exampleInputEmail1" name="hashtagTwo" value="<%=twitterStream.hashtagTwo? twitterStream.hashtagTwo:'' %>" >
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Hashtag 3</label>
                <input type="text"  class="form-control" id="exampleInputEmail1"  name="hashtagThree"value="<%=twitterStream.hashtagThree? twitterStream.hashtagThree:'' %>">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Hashtag 4</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="hashtagFour" value="<%=twitterStream.hashtagFour? twitterStream.hashtagFour:'' %>" >
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Status</label>
                <p class="form-control"><%=twitterStream.status%></p>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">PID</label>
                <p class="form-control"><%=twitterStream.processId%></p>
            </div>


          <button type="submit" class="btn btn-success">Update Hashtags</button>
          <a href="/event/<%=twitterStream.eventId%>/activateTwitterStream"> <button type="button" class="btn btn-warning">Start Search</button></a>
          <a href="/event/<%=twitterStream.eventId%>/deActivateTwitterStream"> <button type="button" class="btn btn-danger">End Search</button></a>

            <a href="/event/<%=twitterStream.eventId%>/eventPictures"><button type="button" class="btn btn-sm btn-success">View Event Pictures</button></a>
        </form>
    </div>
</div><!-- /.container -->



</body>






</html>