<html>
<head>
    <script src="/bower_components/jquery/dist/jquery.js"></script>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css"/>
    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>

    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <script src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Bukky Buks!</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/event/list">Events</a></li>
                <li><a href="/pictures">Browse Pictures</a></li>
                <li><a href="/changePassword">Change Password</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="margin-top: 30px;">

    <div class="starter-template" >
        <h1>Update Event</h1>
        <p class="lead">Create your event here to you can start tracking hash-tags.</p>
        <form action="/event" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Event Name</label>
                <input type="text" name="eventName" class="form-control" id="exampleInputEmail1" >
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Address</label>
                <input type="text" class="form-control" name="eventAddress" id="exampleInputPassword1" >
            </div>
            <div class="form-group">
                <label for="exampleInputFile">Event Phone Number</label>
                <input type="text" class="form-control" name="eventPhone" id="exampleInputFile">
                <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="form-group">
                <label for="exampleInputFile">Event Date</label>
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" name="eventDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker();
                });
            </script>
            <button type="submit" class="btn btn-success">Create Event</button>
        </form>
    </div>
</div><!-- /.container -->



</body>






</html>